<section>

    <h2 class="dn">ギャラリー</h2>
    
    <div class="thumbnail-slide">
    <a href="#"><img src="images/1.jpg" alt=""></a>
    <a href="#"><img src="images/2.jpg" alt=""></a>
    <a href="#"><img src="images/3.jpg" alt=""></a>
    <a href="#"><img src="images/1.jpg" alt=""></a>
    <a href="#"><img src="images/2.jpg" alt=""></a>
    <a href="#"><img src="images/3.jpg" alt=""></a>
    </div>
    
</section>