<header>

    <h1 id="logo"><a href="index.html"><img src="../images/logo.png" alt="東京横浜サンプル医院"></a></h1>
    
    <div class="banner">
    
    </div>
    
    <address>
    <div class="tel">03-0000-0000</div>
    <span class="small">受付時間：AM9:00〜PM7:00</span>
    </address>
    
    <!--文字サイズ変更ボタン-->
    <div id="f-size">
    <p>文字サイズ</p>
    <ul>
    <li id="f-small"></li>
    <li id="f-large"></li>
    </ul>
    </div>
    
    </header>