<div id="contents">

    <main class="column">
    
    <div class="main-contents">
    
    <section id="link1" class="blur">
    
    <h2><span class="uline"><%= title %></span><span class="small">Information</span></h2>
    <p><img src="../images/1.jpg" alt=""></p>
    <p>ここにクリニックの説明を入れます。サンプルテキスト。ここにクリニックの説明を入れます。サンプルテキスト。ここにクリニックの説明を入れます。サンプルテキスト。ここにクリニックの説明を入れます。サンプルテキスト。ここにクリニックの説明を入れます。サンプルテキスト。ここにクリニックの説明を入れます。サンプルテキスト。</p>
    
    </section>
    
    <section id="link2" class="blur">
    
    <h2 class="c">初診の方へ<span class="small">For First-Time Patients</span></h2>
    <p><img src="../images/sample1.jpg" alt=""></p>
    <p>ここに初診の方への説明を入れます。サンプルテキスト。ここに初診の方への説明を入れます。サンプルテキスト。ここに初診の方への説明を入れます。サンプルテキスト。ここに初診の方への説明を入れます。サンプルテキスト。ここに初診の方への説明を入れます。サンプルテキスト。ここに初診の方への説明を入れます。サンプルテキスト。</p>
    
    </section>
    
    <section id="link3" class="blur">
    
    <h2 class="c">院長挨拶<span class="small">Greetings from the Director</span></h2>
    <p><img src="../images/2.jpg" alt=""></p>
    <p>ここに院長挨拶を入れます。サンプルテキスト。ここに院長挨拶を入れます。サンプルテキスト。ここに院長挨拶を入れます。サンプルテキスト。ここに院長挨拶を入れます。サンプルテキスト。ここに院長挨拶を入れます。サンプルテキスト。</p>
    
    </section>
    
    </div>
    <!--/.main-contents-->