<div id="contents">

    <main class="column">
    
    <div class="main-contents">
    
    <section class="blur">
    
    <h2><span class="uline">診療科目のご案内</span><span class="small">Information</span></h2>
    
    <div class="list-grid1">
    
    <div class="list">
    <figure><img src="images/sample1.jpg" alt=""></figure>
    <div class="text">
    <h4>一般内科</h4>
    <p>風邪、インフルエンザ、高血圧、糖尿病などの診療を行います。</p>
    </div>
    <p class="btn"><a href="/service2/1">詳しくみる</a></p>
    </div>
    
    <div class="list">
    <figure><img src="images/sample2.jpg" alt=""></figure>
    <div class="text">
    <h4>小児科</h4>
    <p>子どもの健康管理、予防接種、成長発達のチェックを行います。</p>
    </div>
    <p class="btn"><a href="/service2/2">詳しくみる</a></p>
    </div>
    
    <div class="list">
    <figure><img src="images/sample3.jpg" alt=""></figure>
    <div class="text">
    <h4>皮膚科</h4>
    <p>皮膚の健康問題、湿疹、にきび、アレルギーなどを診療します。</p>
    </div>
    <p class="btn"><a href="/service2/3">詳しくみる</a></p>
    </div>
    
    </div>
    <!--/.list-grid1-->
    
    </section>
    
    <section class="blur">
    
    <h2 class="c">一般内科<span class="small">General Medicine</span></h2>
    
    <div class="list-half">
    
    <div class="text">
    <p>これは画像をそのまま出すタイプです。影の部分はimg要素につけている<span class="look">class=&quot;<span class="color-check">shadow1</span>&quot;</span>です。<br>
    このclassがなければ画像だけが出力されます。</p>
    </div>
    
    <div class="image">
    <img src="images/sample1.jpg" alt="" class="shadow1">
    </div>
    
    </div>
    <!--/.list-half-->
    
    </section>
    
    <section class="blur">
    
    <h2 class="c">小児科<span class="small">Pediatrics</span></h2>
    
    <div class="list-half reverse">
    
    <div class="text">
    <p>左右の配置を入れ替えたタイプです。<br>
    これは外側のボックスの、<br>
    <span class="look">&lt;div class=&quot;list-half&gt;</span><br>
    を<br>
    <span class="look">&lt;div class=&quot;list-half <span class="color-check">reverse</span>&quot;&gt;</span><br>
    とすれば入れ替わります。お好みで使い分けて下さい。</p>
    </div>
    
    <div class="image">
    <img src="images/sample2.jpg" alt="" class="shadow1">
    </div>
    
    </div>
    <!--/.list-half-->
    
    </section>
    
    <section class="blur">
    
    <h2 class="c">皮膚科<span class="small">Dermatology</span></h2>
    
    <div class="list-half">
    
    <div class="text">
    <p>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</p>
    </div>
    
    <div class="image">
    <img src="images/sample3.jpg" alt="" class="shadow1">
    </div>
    
    </div>
    <!--/.list-half-->
    
    </section>
    
    </div>
    <!--/.main-contents-->